.main-cont{
    border: 1px solid black;
    width:200px;
    height: 100px;
    background-color: crimson;
    border-radius: 5%;
    padding: 20px;
}

.hour,.minute,.second{
    background-color:black;
    font-weight: 500;
    font-style: oblique;
    color: white;
    height: 1.5rem;
    width: 2rem;
    border-radius: 20%;
}
.timer{
   display: flex;
   /* align-items: center; */
   justify-content:center;
}

.tool-cont{
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
}

.bttn{
    padding: 10px;
    cursor: pointer;
}
